{{> head}} {{!-- debe estar escrito asi tal cual --}} {{> navbar}}

<div class="row">

    <div class="col-4">
        <h1>Flor Rosa</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum vero reiciendis voluptates optio, saepe architecto
            odit suscipit voluptatum commodi aut. Dolores repellendus numquam a amet, reprehenderit totam perferendis quibusdam
            doloremque!</p>

    </div>

    <div class="col-4">
        <img src="assets/img/descarga.jpg" class="img-thumbnail">

    </div>
</div>
{{> footer}}